<%- include("partial/header") -%>
    <h1>HOME</h1>
    <p>
        <%= firstpara %>
    </p>
    <% posts.forEach(function(post) { %>
        <h2>
            <%= post.title %>
        </h2>
        <p>
            <%= post.body.substring(0,100) %><a href="/home/<%= post.title %>">...Read more</a>
        </p>
    <% }); %>
    
    <a href="/compose"><button class="btn btn-warning">Compose</button></a>

<%- include("partial/footer") -%>